<center><h1>Status</h1></center>

<center><canvas id="myChart" style="width:100%;max-width:700px"></canvas></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1>Daily Entry</h1></center>
<br>
<center>
<form method="post" action="http://localhost:4000/workout-entry">
    <select class="custom-select" name="workout">
  <option selected>Select Workout</option>

  <option value="Machinenormal"> Chest - Machine normal</option>
  <option value="Machinesplit">Chest - Machine  split</option>
  <option value="Machinelower">Chest - Machine lower</option>
  <option value="InclinedDumbbellpullover ">Chest - Inclined Dumbbell pullover </option>
  <option value="Benchpress">Chest - Bench press</option>
  <option value="Dumbbellpullover">Chest - Dumbbell pullover</option>
  <option value="InclinedDumbbellfly">Chest - Inclined Dumbbell fly</option>

  <option value=" tricepesCable"> Triceps - Cable </option>
    <option value=" Dumbbellextension">  Triceps - Dumbbell extension</option>
      <option value="Situp "> Triceps - Sit up </option>

        <option value="Dumbbellrows "> Back - Dumbbell rows </option>
          <option value="Machinerow "> Back - Machine row </option>
            <option value=" Widegrippull"> Back - Wide grip pull </option>
              <option value=" Closegrippull"> Back - Close grip pull </option>
                <option value="Deadlift "> Back - Deadlift </option>


                  <option value=" bicepesMachine">Biceps - Machine </option>
                    <option value="bicepesCable "> Biceps - Cable </option>
                      <option value="hammer "> Biceps - hammer </option>
                       <option value=" Dumbbellcurl">Biceps - Dumbbell curl </option>
                         <option value=" Concentrationcurl">Biceps - Concentration curl </option>
                      <option value="Barbellcurl "> Biceps - Barbell curl </option>

                           <option value=" legDumbbell">Leg - Dumbbell </option>
                              <option value=" Machineextension">Leg - Machine extension </option>
                                 <option value=" Machinepull">Leg - Machine pull </option>
                                    <option value=" Squats">Leg - Squats </option>
                                       <option value=" legBar">Leg - Bar </option>


                                       <option value=" Dumbbellpress">Shoulder - Dumbbell press </option>
                                         <option value=" Lateralraise">Shoulder - Lateral raise </option>
                                          <option value=" Sidecable">Shoulder - Side cable </option>
                                           <option value=" shoulderBar">Shoulder - Bar</option>
                                            <option value=" shouldermachine">Shoulder - Machine </option>
</select>

<div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type="number" name="set" class="form-control" id="formGroupExampleInput" placeholder="Sets">
  </div>

<div class="form-group">
    <label for="formGroupExampleInput"></label>
    <input type="number" name="rep" class="form-control" id="formGroupExampleInput" placeholder="Rep">
  </div>

      <div class="card-footer text-right">
                       <center><button class="btn btn-primary">Submit</button></center> 
    </div>
</form>
</center>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1>Protine</h1></center>
<br>
<center>
<form method="post" action="http://localhost:4000/protine-entry">
<div class="form-group">
    <label for="inputPassword6"></label>
    <input type="text" id="protine" name="protine" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    <small id="passwordHelpInline" class="text-muted">
    
    </small>
  </div>

</select>
      <div class="card-footer text-right">
                       <center><button class="btn btn-primary">Submit</button></center> 
                      </div>
</form>
</center>


<script>
const xValues = [100,200,300,400,500,600,700,800,900,1000];
var ctx = document.getElementById("myChart").getContext("2d");
ctx.canvas.width = 300;
ctx.canvas.height = 200;

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: [{{d}}],
      borderColor: "red",
      fill: false
    },{
      data: [23,42,53,64],
      borderColor: "green",
      fill: false
    },{
      data: [3,23,53,5,2,34],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});
</script>
