<center><h1>Status</h1></center>

<center><canvas id="myChart" style="width:100%;max-width:700px"></canvas></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1>Daily Entry</h1></center>
<br>
<center>
<form method="post" action="http://localhost:4000/workout-entry">
    <select class="custom-select" name="workout">
  <option selected>Select Workout</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
 <select class="custom-select" name="set">
  <option selected>Set</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
 <select class="custom-select" name="rep">
  <option selected>Reps</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
      <div class="card-footer text-right">
                       <center><button class="btn btn-primary">Submit</button></center> 
                      </div>
</form>
</center>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<center><h1>Protine</h1></center>
<br>
<center>
<form method="post" action="http://localhost:4000/protine-entry">
<div class="form-group">
    <label for="inputPassword6"></label>
    <input type="text" id="protine" name="protine" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
    <small id="passwordHelpInline" class="text-muted">
    
    </small>
  </div>

</select>
      <div class="card-footer text-right">
                       <center><button class="btn btn-primary">Submit</button></center> 
                      </div>
</form>
</center>


<script>
const xValues = [100,200,300,400,500,600,700,800,900,1000];
var ctx = document.getElementById("myChart").getContext("2d");
ctx.canvas.width = 300;
ctx.canvas.height = 200;

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      data: [860,1140,1060,1060],
      borderColor: "red",
      fill: false
    },{
      data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,7000],
      borderColor: "green",
      fill: false
    },{
      data: [300,700,2000,5000,6000,4000,2000,1000,200,100],
      borderColor: "blue",
      fill: false
    }]
  },
  options: {
    legend: {display: false}
  }
});
</script>
